# SalisLudo Configuration
PORT=3333
HOST=0.0.0.0
DB_PATH=ludo.db

# Pusher Realtime Credentials
PUSHER_APP_ID=2041101
PUSHER_KEY=28797fce105c189c25f5
PUSHER_SECRET=c29d4008afddafae9867
PUSHER_CLUSTER=ap3
